p #{company.contact.building}
p #{company.contact.street}
p #{company.contact.city} - #{company.contact.postalcode}
p #{company.contact.country}

p #{company.contact.phone}
p #{company.contact.fax}
p #{company.contact.email}
p #{company.contact.website}
