each staff in staffs
  div(class=`ui modal ${staff.id}`)
    .ui.two.column.padded.grid.stackable
      .four.wide.column
        img.ui.image(src=staff.photo)
        .ui.big.flatgold.header
          .motto #{staff.motto}
      .twelve.wide.column
        .ui.padded.grid.stackable
          .two.column.row
            .ten.wide.column
                .ui.header.name
                  .content
                    | #{staff.name}
                    .sub.header
                      span.jobtitle #{staff.jobtitle}
                      span  /
                      a.email
                       |  #{staff.email}

                p.story #{staff.story}
                .ui.header.bottom.bordered
                  i.student.icon
                  | Education
                each education in staff.education
                  .ui.list
                    .item
                      i.folder.open.icon
                      .content
                        .header #{education.title}
                        .description #{education.university}

                .ui.header.bottom.bordered
                  i.law.icon
                  | Experience
                each experience in staff.experience
                  .ui.list
                    .item
                      i.check.square.icon
                      .content
                        .header #{experience.year}
                        .description #{experience.description}

                .ui.header.bottom.bordered
                  i.bookmark.icon
                  | Affiliation
                each membership in staff.membership
                  .ui.list
                    .item
                      i.certificate.icon
                      .content
                        .header #{membership.abbreviation}
                        .description #{membership.description}

            .six.wide.litecream.column
              .ui.header.bottom.bordered
                  i.translate.icon
                  | Language Skill
              .ui.horizontal.segments.transparent
                each language in staff.language
                  .ui.center.aligned.segment
                    .value.text.flatgold #{language.rating}%
                    .circle(data-value=`0.${language.rating}`
                    data-size="80" data-reverse="true")
                    .text.flatgold #{language.name}

              .ui.header.bottom.bordered
                  i.legal.icon
                  | Specialization
              each specialization in staff.specialization
                .ui.olive.small.progress.specialization(data-percent= specialization.rating)
                  .label.top.left.aligned #{specialization.name}
                  .label.top.right.aligned #{specialization.rating}%
                  .bar
